.board {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 16px;
    justify-content: center;
    margin: auto;
  }

  .card {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 1s;
  }
  
  .card.flipped {
    background-color: lightgrey;
  }
  
  .card.matched {
    background-color: green;
  }
  
  div.Moves {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  .card.flipping {
    transform: rotateY(180deg);
  }
  